/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* =========================
   FONT
========================= */

/* =========================
   NEUE MONTREAL REGULAR
========================= */

@font-face {

    font-family: 'Neue Montreal';

    src:
        url('../fonts/NeueMontreal-Regular.woff2') format('woff2');

    font-weight: 400;

    font-style: normal;
}

/* =========================
   NEUE MONTREAL BOLD
========================= */

@font-face {

    font-family: 'Neue Montreal';

    src:
        url('../fonts/NeueMontreal-Bold.woff2') format('woff2');

    font-weight: 700;

    font-style: normal;
}

/* =========================
   ROOT
========================= */

:root {
    --side-space: 60px;
}

/* =========================
   BODY
========================= */

body {

    background: #000;

    color: #fff;

    overflow-x: hidden;

    font-family: 'Neue Montreal';


}

/* =========================================================
   CUSTOM CURSOR
========================================================= */

body {

    cursor: none;
}

/* HIDE DEFAULT */

a,
button,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {

    cursor: none;
}

/* CURSOR */

.custom-cursor {

    width: 30px;
    height: 30px;

    border-radius: 50%;

    position: fixed;

    top: 0;
    left: 0;

    pointer-events: none;

    z-index: 999999;

    transform:
        translate(-50%, -50%);

    background:
        rgba(255, 255, 255, 0.10);

    border:
        1px solid rgba(255, 255, 255, 0.18);

    backdrop-filter:
        blur(10px);

    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.12),
        inset 0 0 12px rgba(255, 255, 255, 0.05);

    transition:
        width 0.28s ease,
        height 0.28s ease,
        background 0.28s ease,
        border 0.28s ease,
        transform 0.15s ease;

    will-change:
        transform;
}

/* ACTIVE */

.custom-cursor.active {

    width: 54px;
    height: 54px;

    background:
        rgba(255, 255, 255, 0.14);

    border:
        1px solid rgba(255, 255, 255, 0.25);
}

/* CLICK */

.custom-cursor.click {

    transform:
        translate(-50%, -50%) scale(0.72);

    background:
        rgba(255, 255, 255, 0.22);
}